:root {
  --primary-color: #80b500;
}

.header__top {
  background: #f5f5f5;
}

.header__top__left {
  padding: 10px 0 13px;
}

.header__top__left ul li {
  font-size: 14px;
  color: #1c1c1c;
  display: inline-block;
  margin-right: 45px;
  position: relative;
}

.header__top__left ul li:after {
  position: absolute;
  right: -25px;
  top: 1px;
  height: 20px;
  width: 1px;
  background: #000000;
  opacity: 0.1;
  content: "";
}

.header__top__left ul li:last-child {
  margin-right: 0;
}

.header__top__left ul li:last-child:after {
  display: none;
}

.header__top__left ul li i {
  color: #252525;
  margin-right: 5px;
}

.header__top__right {
  text-align: right;
  padding: 10px 0 13px;
}

.header__top__right__social {
  position: relative;
  display: inline-block;
  margin-right: 35px;
}

.header__top__right__social:after {
  position: absolute;
  right: -20px;
  top: 1px;
  height: 20px;
  width: 1px;
  background: #000000;
  opacity: 0.1;
  content: "";
}

.header__top__right__social a {
  font-size: 14px;
  display: inline-block;
  color: #1c1c1c;
  margin-right: 20px;
}

.header__top__right__social a:last-child {
  margin-right: 0;
}

.header__top__right__auth {
  display: inline-block;
}

.header__top__right__auth a {
  display: block;
  font-size: 14px;
  color: #1c1c1c;
}

.header__top__right__auth a i {
  margin-right: 6px;
}

.header__logo {
  padding: 17px 0;
}

.header__logo a {
  display: inline-block;
}

.header__menu {
  padding: 24px 0 24px 8px;
}

.header__menu ul li {
  list-style: none;
  display: inline-block;
  margin-right: 50px;
  position: relative;
}

.header__menu ul li .header__menu__dropdown {
  position: absolute;
  left: 0;
  top: 50px;
  background: #222222;
  width: 180px;
  z-index: 9;
  padding: 5px 0;
  -webkit-transition: all, 0.3s;
  -moz-transition: all, 0.3s;
  -ms-transition: all, 0.3s;
  -o-transition: all, 0.3s;
  transition: all, 0.3s;
  opacity: 0;
  visibility: hidden;
}

.header__menu ul li .header__menu__dropdown li {
  margin-right: 0;
  display: block;
}

.header__menu ul li .header__menu__dropdown li:hover > a {
  color: var(--primary-color);
}

.header__menu ul li .header__menu__dropdown li a {
  text-transform: capitalize;
  color: #ffffff;
  font-weight: 400;
  padding: 5px 15px;
}

.header__menu ul li.active a {
  color: var(--primary-color);
}

.header__menu ul li:hover .header__menu__dropdown {
  top: 30px;
  opacity: 1;
  visibility: visible;
}

.header__menu ul li:hover > a {
  color: var(--primary-color);
}

.header__menu ul li:last-child {
  margin-right: 0;
}

.header__menu ul li a {
  font-size: 14px;
  color: #252525;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 2px;
  -webkit-transition: all, 0.3s;
  -moz-transition: all, 0.3s;
  -ms-transition: all, 0.3s;
  -o-transition: all, 0.3s;
  transition: all, 0.3s;
  padding: 5px 0;
  display: block;
}

.header__cart {
  text-align: right;
  padding: 30px 0;
}

.header__cart ul {
  display: inline-block;
  margin-right: 25px;
}

.header__cart ul li {
  list-style: none;
  display: inline-block;
  margin-right: 15px;
}

.header__cart ul li:last-child {
  margin-right: 0;
}

.header__cart ul li a {
  position: relative;
}

.header__cart ul li a i {
  font-size: 18px;
  color: #1c1c1c;
}

.header__cart ul li a span {
  height: 13px;
  width: 13px;
  background: var(--primary-color);
  font-size: 10px;
  color: #ffffff;
  line-height: 13px;
  text-align: center;
  font-weight: 700;
  display: inline-block;
  border-radius: 50%;
  position: absolute;
  top: 0;
  right: -12px;
}

.humberger__menu__wrapper {
  display: none;
}

.humberger__open {
  display: none;
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .header__menu ul li {
    margin-right: 45px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .header .container {
    position: relative;
  }

  .header__logo {
    padding: 40px 0 24px 0;
  }

  .humberger__open {
    display: block;
    font-size: 22px;
    color: #1c1c1c;
    height: 35px;
    width: 35px;
    line-height: 33px;
    text-align: center;
    border: 1px solid #1c1c1c;
    cursor: pointer;
    position: absolute;
    right: 15px;
    top: 22px;
  }

  .humberger__menu__wrapper {
    width: 300px;
    background: #ffffff;
    position: fixed;
    left: -300px;
    top: 0;
    height: 100%;
    overflow-y: auto;
    z-index: 99;
    padding: 30px;
    padding-top: 50px;
    opacity: 0;
    display: block;
    -webkit-transition: all, 0.6s;
    -moz-transition: all, 0.6s;
    -ms-transition: all, 0.6s;
    -o-transition: all, 0.6s;
    transition: all, 0.6s;
  }

  .humberger__menu__wrapper.show__humberger__menu__wrapper {
    opacity: 1;
    left: 0;
  }

  .humberger__menu__logo {
    margin-bottom: 30px;
  }

  .humberger__menu__logo a {
    display: inline-block;
  }

  .humberger__menu__contact {
    padding: 10px 0 13px;
  }

  .humberger__menu__contact ul li {
    font-size: 14px;
    color: #1c1c1c;
    position: relative;
    line-height: 30px;
    list-style: none;
  }

  .humberger__menu__contact ul li i {
    color: #252525;
    margin-right: 5px;
  }

  .humberger__menu__cart ul {
    display: inline-block;
    margin-right: 25px;
  }

  .humberger__menu__cart ul li {
    list-style: none;
    display: inline-block;
    margin-right: 15px;
  }

  .humberger__menu__cart ul li:last-child {
    margin-right: 0;
  }

  .humberger__menu__cart ul li a {
    position: relative;
  }

  .humberger__menu__cart ul li a i {
    font-size: 18px;
    color: #1c1c1c;
  }

  .humberger__menu__cart ul li a span {
    height: 13px;
    width: 13px;
    background: var(--primary-color);
    font-size: 10px;
    color: #ffffff;
    line-height: 13px;
    text-align: center;
    font-weight: 700;
    display: inline-block;
    border-radius: 50%;
    position: absolute;
    top: 0;
    right: -12px;
  }

  .humberger__menu__cart {
    margin-bottom: 25px;
  }

  .humberger__menu__widget {
    margin-bottom: 20px;
  }

  .humberger__menu__nav {
    display: none;
  }

  .humberger__menu__wrapper .header__top__right__social {
    display: block;
    margin-right: 0;
    margin-bottom: 20px;
  }

  .humberger__menu__wrapper .slicknav_btn {
    display: none;
  }

  .humberger__menu__wrapper .slicknav_nav .slicknav_item a {
    border-bottom: none !important;
  }

  .humberger__menu__wrapper .slicknav_nav {
    display: block !important;
  }

  .humberger__menu__wrapper .slicknav_menu {
    background: transparent;
    padding: 0;
    margin-bottom: 30px;
  }

  .humberger__menu__wrapper .slicknav_nav ul {
    margin: 0;
  }

  .humberger__menu__wrapper .slicknav_nav a {
    color: #1c1c1c;
    font-size: 16px;
    font-weight: 600;
    margin: 0;
    border-bottom: 1px solid #e1e1e1;
  }

  .humberger__menu__wrapper .slicknav_nav a:hover {
    -webkit-border-radius: 0;
    border-radius: 0;
    background: transparent;
    color: var(--primary-color);
  }

  .humberger__menu__wrapper .slicknav_nav .slicknav_row,
  .humberger__menu__wrapper .slicknav_nav a {
    padding: 8px 0;
  }

  .humberger__menu__overlay {
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
    content: "";
    z-index: 98;
    visibility: hidden;
    -webkit-transition: all, 0.6s;
    -moz-transition: all, 0.6s;
    -ms-transition: all, 0.6s;
    -o-transition: all, 0.6s;
    transition: all, 0.6s;
  }

  .humberger__menu__overlay.active {
    visibility: visible;
  }

  .header__top {
    display: none;
  }

  .header__menu {
    display: none;
  }

  .header__cart {
    display: none;
  }
}

@media only screen and (max-width: 767px) {
  .humberger__open {
    display: block;
    font-size: 22px;
    color: #1c1c1c;
    height: 35px;
    width: 35px;
    line-height: 33px;
    text-align: center;
    border: 1px solid #1c1c1c;
    cursor: pointer;
    position: absolute;
    right: 15px;
    top: 22px;
  }
  .header .container {
    position: relative;
  }
  .humberger__menu__wrapper {
    width: 300px;
    background: #ffffff;
    position: fixed;
    left: -300px;
    top: 0;
    height: 100%;
    overflow-y: auto;
    z-index: 99;
    padding: 30px;
    padding-top: 50px;
    opacity: 0;
    display: block;
    -webkit-transition: all, 0.6s;
    -moz-transition: all, 0.6s;
    -ms-transition: all, 0.6s;
    -o-transition: all, 0.6s;
    transition: all, 0.6s;
  }
  .humberger__menu__wrapper.show__humberger__menu__wrapper {
    opacity: 1;
    left: 0;
  }
  .humberger__menu__logo {
    margin-bottom: 30px;
  }
  .humberger__menu__logo a {
    display: inline-block;
  }
  .humberger__menu__contact {
    padding: 10px 0 13px;
  }
  .humberger__menu__contact ul li {
    font-size: 14px;
    color: #1c1c1c;
    position: relative;
    line-height: 30px;
    list-style: none;
  }
  .humberger__menu__contact ul li i {
    color: #252525;
    margin-right: 5px;
  }
  .humberger__menu__cart ul {
    display: inline-block;
    margin-right: 25px;
  }
  .humberger__menu__cart ul li {
    list-style: none;
    display: inline-block;
    margin-right: 15px;
  }
  .humberger__menu__cart ul li:last-child {
    margin-right: 0;
  }
  .humberger__menu__cart ul li a {
    position: relative;
  }
  .humberger__menu__cart ul li a i {
    font-size: 18px;
    color: #1c1c1c;
  }
  .humberger__menu__cart ul li a span {
    height: 13px;
    width: 13px;
    background: var(--primary-color);
    font-size: 10px;
    color: #ffffff;
    line-height: 13px;
    text-align: center;
    font-weight: 700;
    display: inline-block;
    border-radius: 50%;
    position: absolute;
    top: 0;
    right: -12px;
  }
  .humberger__menu__cart {
    margin-bottom: 25px;
  }
  .humberger__menu__widget {
    margin-bottom: 20px;
  }
  .humberger__menu__nav {
    display: none;
  }
  .humberger__menu__wrapper .header__top__right__social {
    display: block;
    margin-right: 0;
    margin-bottom: 20px;
  }
  .humberger__menu__wrapper .slicknav_btn {
    display: none;
  }
  .humberger__menu__wrapper .slicknav_nav .slicknav_item a {
    border-bottom: none !important;
  }
  .humberger__menu__wrapper .slicknav_nav {
    display: block !important;
  }
  .humberger__menu__wrapper .slicknav_menu {
    background: transparent;
    padding: 0;
    margin-bottom: 30px;
  }
  .humberger__menu__wrapper .slicknav_nav ul {
    margin: 0;
  }
  .humberger__menu__wrapper .slicknav_nav a {
    color: #1c1c1c;
    font-size: 16px;
    font-weight: 600;
    margin: 0;
    border-bottom: 1px solid #e1e1e1;
  }
  .humberger__menu__wrapper .slicknav_nav a:hover {
    -webkit-border-radius: 0;
    border-radius: 0;
    background: transparent;
    color: var(--primary-color);
  }
  .humberger__menu__wrapper .slicknav_nav .slicknav_row,
  .humberger__menu__wrapper .slicknav_nav a {
    padding: 8px 0;
  }
  .humberger__menu__overlay {
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
    content: "";
    z-index: 98;
    visibility: hidden;
    -webkit-transition: all, 0.6s;
    -moz-transition: all, 0.6s;
    -ms-transition: all, 0.6s;
    -o-transition: all, 0.6s;
    transition: all, 0.6s;
  }
  .humberger__menu__overlay.active {
    visibility: visible;
  }
  .header__top {
    display: none;
  }
  .header__menu {
    display: none;
  }
  .header__cart {
    display: none;
  }
}
